@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password reset confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Password has been reset. Please click <a asp-page="./Login">, to log in.</a>.
</p>
